a {
    color: $link;
    text-decoration: none;
    &:hover {
        text-decoration: underline;
        color: $link-alt;
    }
}

p {
    color: $text;
}

h4 {
    color: $title;
}

body {
    background-color: $background;
    font-family: 'Quicksand', sans-serif;
}

#root {
    @include flex(column, none, none);
}
