#header {
    @include flex(row, space-evenly, none);
    border-bottom: 1px solid $border;
}

.header-items {
    margin: 0 0.25rem;
}

#header-left {
    @include flex(row, none, center);
}

#subreddits-div {
    @include flex(row, center, none);
    flex-wrap: wrap;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    
}

#header-right {
    @include flex(row, none, center);
}
