.posts {
    @include flex(column, none, none);
    padding: 0.625em;
    overflow-y: hidden;
    &:hover {
        background-color: $background-alt;
    }
}

.post-elements {
    margin-top: 0.125em;
    margin-bottom: 0.125em;
}

#post-details {
    color: $post-details;
}

#post-domain {
    font-size: 0.5rem;
    margin-left: 0.5em;
    color: $domain;
}
