.sidebar-headings {
    margin-bottom: 0;
}

#sidebar {
    @include flex(column, space-between, none);
    padding: 10px;
    border-left: 1px solid $border;
}

#submit-post-div {
    @include flex(column, none, center);
}

#submit-text-form {
    @include flex(column, none, none);
    margin: 10px auto;
}

.sidebar-divs {
    @include flex(column, center, center);
    border-top: 1px solid $border;
}

.post-flairs {
    @include flex(row, space-evenly, none);
    flex-wrap: wrap;
}
