$link: hsl(178, 60%, 55%);
$link-alt: hsl(178, 70%, 65%);
$title: hsl(157, 100%, 49%);
$domain: hsl(60, 100%, 50%);
$text: hsl(0, 79%, 72%);
$background: hsl(0, 0%, 27%);
$background-alt: hsl(0, 0%, 22%);
$border: hsl(0, 0%, 0%);
$post-details: hsl(260, 57%, 64%);
