@import './_variables';
@import './_mixins';
@import './_header';
@import './_main-content';
@import './_feed';
@import './_sidebar';
@import './_footer';

a {
    color: $link;
    text-decoration: none;
    &:hover {
        text-decoration: underline;
        color: $link-alt;
    }
}

p {
    color: $text;
}

#banner {
    width: 100%;
}

h4 {
    color: $title;
}

body {
    background-color: $background-alt;
    font-family: 'Quicksand', sans-serif;
}

#root {
    @include flex(column, none, none);
    background-color: $background;
    /*
        display: grid;
        grid-template-areas: 'header header'
                             'banner banner'
                             'main-content sidebar'
                             'footer footer';
        grid-template: repeat(auto-fit, minmax(240px, 1fr)) / repeat(auto-fit, minmax(240px, 1fr));
    */
}
